body{
  color: black;
  margin: 0;
}
a{
	color: inherit;
 	text-decoration: none;
}
ul,ol{
	margin: 0;
	padding: 0;
	list-style: none;
}
p,dl,dd,h1,h2,h3{
	margin: 0;
}
/*0000000000000000000000000000000000000000*/
.icon {
	width: 1.5em; height: 1.5em;
	vertical-align: -0.15em;
	fill: currentColor;
	overflow: hidden;
}
body{
	overflow: hidden;
}
#canvas{
	border: 1px solid red; 
}
.tool{
    position: absolute;
	top: 1em;
	left: 1em;
}
.tool li{
	margin: 10px 0;
}
.tool .icon{ 
}
.tool svg.active{
	fill: red;
	transform: scale(1.3);
	transition: 0.5s;
}
ul.color{
	position: absolute;
	top: 1em;
	left: 6em;
}
ul.color li{
	border-radius: 1.5em;
	width: 1.5em;
	height: 1.5em;
	margin: 0.5rem 0;
}
ul.color li.red{
	background-color: red;
}
ul.color li.green{
	background-color: green;
}
ul.color li.blue{
	background-color: blue;
}
ul.color li.active{
	transform: scale(1.3);
	transition: 0.3s;
}