body{
  background: #EFEFEF;
  color: black;
  margin: 0;
}
a{
	color: inherit;
 	text-decoration: none;
}
ul,ol,li{
	margin: 0;
	padding: 0;
	list-style: none;
}
p,dl,dd,h1,h2,h3{
	margin: 0;
}
.clearfix::after{
  content: '';
  display: block;
  clear: both;
}
/*0000000000000000*/
.icon {
	width: 1em; height: 1em;
	vertical-align: -0.15em;
	fill: currentColor;
	overflow: hidden;
}
.site-welcome{
	display: none;
}
.site-welcome-active{
	position: fixed;
	background-color: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	z-index: 5;
}
.topNavBar{
	position: fixed;
	width: 100%;
	z-index: 1;
}
.topNavBarInner{
	padding: 20px 16px;
	line-height: 38px;
	transition: all 0.3s;
	color: #c1c4c7;
}
.topNavBarInner.active{
	background-color: white;
	padding: 12px 16px;
	color: black;
	box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.25);
}
.topNavBar .logo{
	font-size: 24px;
	font-family: 'Arial Black';
}
.topNavBar .logo .rs{
	color: #e8676b;
	margin-right: 4px;
}
.topNavBar .logo .card{
	color: #9a9da2;	
}
.topNavBar nav{
	float: right;
	padding-right: 5rem;
}
.topNavBar nav>ul{
	list-style: none;
}
.topNavBar nav>ul>li{
	position: relative;
	float: left;
	margin: 0 17px;
}
.topNavBar nav li > a{
	font-size: 12px;
	font-weight: bold;
	padding-bottom: 5px;
}
.topNavBar nav li.active > a::after{
    content: '';
    display: block;
    position: absolute;
    top: 90%;
    left: 0;	
    height: 3px;
    background-color: #e8676b;
    width: 100%;
    animation: navBar 0.3s;
}
.topNavBar nav li.highLight > a::after{
    content: '';
    display: block;
    position: absolute;
    top: 90%;
    left: 0;	
    height: 3px;
    background-color: #e8676b;
    width: 100%;
    animation: liSlide 0.3s;
}
@keyframes liSlide{
	0% {width: 0;}
	100% {width: 100%;}
}
.topNavBar nav>ul>li>ul.submenu {
	display: none;
	font-size: 12px;
}
.topNavBar nav>ul>li.active>ul.submenu{
	position: absolute;
	display: block;
	white-space: nowrap;
	background-color: #fff;
	color: #000;
    right: 0;
	padding: 6px 10px;
	box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.25);
	animation: submenuSlide 0.5s;
	line-height: 28px;
	cursor: pointer;
}
@keyframes submenuSlide{
	0% {
		transform: translateX(-30%);
	}
	100% {
		transform: translateX(0);
	}
}
.topNavBar nav>ul>li.active>ul.submenu>li{
	padding: 0;
}

/*banner*/
.banner{
	background: url(../images/snow-mountain.jpg) center;
	background-size: cover;
	height: 515px;
}
.banner .mask{
	background-color: rgba(0,0,0,0.4);
	height: inherit;
}
/*main-----*/
main .card{
	box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.15);
	background-color: #FFFFFF;
	color: black;
	margin: 0 auto;
	max-width: 940px;
	margin-top: -340px;
}
main .card .picAndIntro{
	padding: 50px;
}
main .card .picture{
	float: left;
}
main .intro{
	float: left;
	margin-left: 65px;
}
main .intro .hello{
	position: relative;
	display: inline-block;
	background-color: #E6686A;
	line-height: 30px;
	padding: 0 15px;
	color: white;
}
main .intro .hello .triangle {
	position: absolute;
	top: 100%;
	left: 6px;
	width: 0;
	height: 0;
	border-top: 8px solid #E6686A;
	border-right: 8px solid transparent;
}
main .intro h1{
	margin-top: 25px;
}
main .intro p{
	margin: 10px 0;
}
main .intro dl{
	border-top: 1px solid #dedede;
	padding: 30px 0;
}
main .intro dl dt{
	float: left;
	width: 30%;
	font-weight: bold;
}
main .intro dl dd{
	float: left;
	width: 70%;
	color: #9DA0A7;
}
main .intro dl dt,main .intro dl dd{
	padding: 5px 0;
}
main .card .media{
	background-color: #E8676B;
	text-align: center;
}
main .media a{
	display: inline-block;
	width: 45px;
	line-height: 25px;
	margin: 16px;
	padding: 10px 0;
	border-radius: 50%;
}
main .media a:hover{
	background-color: #D05C60;
}
main .media svg{
	width: 25px;
	height: 25px;
	fill: white;
	vertical-align: top;
}
main .downloadPage{
	text-align: center;
}
main .downloadPage .button{
	display: inline-block;
	padding: 21px 55px;
	margin: 32px 0;
	border: 1px solid #cdcfd1;
	background-color: #efefef;
	font-size: 20px;
	font-weight: bold;
	transition: box-shadow 0.3s;
}
main .downloadPage .button:hover{
	box-shadow: 0px 5px 14px 0px rgba(0,0,0,0.3);
}
main .selfIntro{
	max-width: 940px;
	margin: 0 auto;
	text-align: center;
	font-size: 1.2em;
	line-height: 2;
}
/*section.proj*/
section.proj{
	position: relative;
	max-width: 940px;
	margin: 0 auto;
	text-align: center;
}
section.proj h2{
	text-align: center;
	color: #3D4451;	
	margin-top: 50px;
	margin-bottom: 30px;
	font-size: 34px;
}
section.proj .container{
	display: flex;
	flex-direction: column;
}
section.proj .container>li{
	display: flex;
	position: relative;
	justify-content: center;
	height: 400px;
	margin-bottom: 40px;
	padding-top: 40px;
}
section.proj .title{
	color: #3D4451;
	position: absolute;
	top: 0px;
}
section.proj ul>li img{
	height: 100%;
}
/*section-proSkill*/
section.proSkill{
	max-width: 940px;
	margin: 0 auto;
}
section.proSkill h2{
	color: #3D4451;
	margin-top: 50px;
	margin-bottom: 30px;
	text-align: center;
	font-size: 34px;
}
section.proSkill h3{
	font-size: 14px;
	font-weight: normal;
}
section.proSkill ol{
	padding: 50px;
	background-color: #FFFFFF;
}
section.proSkill li{
	float: left;
	width: 45%;
	margin: 20px 0;
}
section.proSkill li:nth-child(2n){
	float: right;
}
section.proSkill li .progressBar{
	background-color: #FAE1E1;
	height: 6px;
	border-radius: 3px;
}
section.proSkill li .progressBar .progress{
	width: 10%;
	border: 3px solid #E8676B;
	border-radius: 3px;
	transition: all 1s;
}
section.proSkill.offSet .progressBar .progress{
	width: 0%;
	border: 0px
}
/*section.showreel*/
section.showreel{
	position: relative;
	max-width: 940px;
	margin: 0 auto;
	text-align: center;
}
section.showreel h2{
	text-align: center;
	color: #3D4451;	
	margin-top: 50px;
	margin-bottom: 30px;
	font-size: 34px;
}
section.showreel .swiper-button-prev,.swiper-button-next{
	top:57%;
	background-color: rgba(255,255,255);
	width: 60px;
    height: 60px;
    border-radius: 50%;
    outline: none;
}
section.showreel nav{
	display: inline-block;
	text-align: center;
    margin: 0 auto;
}
section.showreel nav li{
	float: left;
	margin: 0px 20px;
	cursor: pointer;
}
section.showreel nav ol{
	display: inline-block;
}
section.showreel nav .progressBar{
	background-color: #FAE1E1;
	border-radius: 3px;
	margin: 10px 20px;
}
section.showreel nav .progressBar > div{
	transition: all 0.5s;
	border: 3px solid #E8676B;
	border-radius: 3px;
}
section.showreel nav .progressBar .progressState1{
	width: 17%;
}
section.showreel nav .progressBar .progressState2{
	width: 32%;
	margin-left: 22%;
}
section.showreel nav .progressBar .progressState3{
	width: 43%;
	margin-left: 57%;
}
section.showreel .content{
	position: relative;
	margin-top: 30px;
	margin-bottom: 300px;
}
section.showreel .content > div{
	float: left;
}
section.showreel .content > div > a{
	display: block;
}
section.showreel .content .rightTop{
	position: absolute;
	right: 0;
}
section.showreel .content .rightDown{
	position: absolute;
	right: 0;
	bottom: 0;
}
[sec-tag].offSet{
	transform: translateY(70px);
}
[sec-tag]{
	transition: all 0.5s;
}

.messages{
	max-width: 940px;
	margin: 0 auto;
	text-align: center;	
	margin-top: 50px;
	margin-bottom: 150px;
}
.messages h2{
	color: #3D4451;
	margin-top: 50px;
	margin-bottom: 30px;
	text-align: center;
	font-size: 34px;
}
.messages ol{
	max-width: 700px;
	margin: 0 auto;
	padding: 0 15%;
}
.messages li{
	border-bottom: 1px solid rgba(0,0,0,0.1);
	padding: 6px 12px;
	overflow: hidden;
	text-align: left;
}
.messages li:nth-child(1){
	border-top: 1px solid rgba(0,0,0,0.1);
}
.messages li .name{
	font-size: 13px;
	margin-bottom: 5px;
}
.messages li .content{
	font-size: 16px;
	padding-left: 15px;
}
.messages form{
	margin-top: 20px;
}
.swiper-container {
	width: 645px;
	height: 430px;
	z-index: 0;
}
.swiper-button-next, .swiper-button-prev{
	z-index: 0;
}